langchain
langchain_groq
python-dotenv
langchain-community # pin for last stable
langchain-pymupdf4llm
langchain-text-splitters
streamlit
langgraph
wikipedia
arxiv
pypdf
pymupdf
tqdm
sentence-transformers
faiss-cpu
chromadb
typesense